<?xml version="1.0" encoding="UTF-8"?>
<!--
        Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。
    -->
<!--
    monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。
-->
<configuration status="error" monitorInterval="30" packages="marriott.ecommerce.infrastructure.common.logs">
  <properties>
    <Property name="baseDir" value="${sys:log4j2.dir.application:-../logs}"/>
    <property name="processIdHighLightColor">{FATAL=magenta, ERROR=magenta, WARN=magenta, INFO=magenta, DEBUG=magenta, TRACE=magenta}</property>
    <property name="loggerHighLightColor">{FATAL=cyan, ERROR=cyan, WARN=cyan, INFO=cyan, DEBUG=cyan, TRACE=cyan}</property>
    <property name="consolePattern" value="[TRACE:%X{trace_id}] %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} %highlight{%processId}${processIdHighLightColor} --- [%thread]%highlight{%logger{36}}${loggerHighLightColor} [%L] [%M] |:> %msg%xEx%n"/>
    <property name="filePattern" value="[TRACE:%X{trace_id}] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %processId --- [%thread]%logger{36} [%L] [%M] |:> %msg%xEx%n"/>
  </properties>
  <appenders>
    <!--  输出控制台的配置 -->
    <Console name="console" target="SYSTEM_OUT">
      <!--  控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
      <!--  这个都知道是输出日志的格式 -->
      <PatternLayout pattern="${consolePattern}"/>
    </Console>
    <!--  输出文件的配置 -->
    <RollingFile name="RollingFile" fileName="${baseDir}/application.log" filePattern="${baseDir}/$${date:yyyy-MM}/application-%d{MM-dd-yyyy}-%i.log.gz">
      <JsonLayout compact="true" locationInfo="true" complete="false" eventEol="true" >
        <KeyValuePair key="traceId" value="$${ctx:trace_id:--1}"/>
        <KeyValuePair key="serviceId" value="${env:POD_NAME}"/>
      </JsonLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
  </appenders>

  <loggers>
    <root level="info">
      <appender-ref ref="console"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </loggers>
</configuration>